<h1>MONAK.GG</h1>
<hr>

<div class="busqueda">
    <form (ngSubmit)="buscarInv($event)">
        <p>Ingrese su nombre de invocador</p>
        <input type="text" placeholder="Nombre" [(ngModel)]="busqueda.nombreInv" name="nombreInv">
        <select name="region" [(ngModel)]="busqueda.region">
            <option value="la1">LAN</option>
            <option value="la2">LAS</option>
            <option value="na">NA</option>
            <option value="euw">EUW</option>
            <option value="eue">EUE</option>    
        </select>
        <label> Save<input type="checkbox" [value]="busqueda.fav"></label>
        <input type="submit">
    </form>
    <span id="messages"></span>
</div>
<div id="InvFav">
    <h2>Invocadores favoritos</h2>
    <hr>
    <ul *ngFor="let fav of favoritos">
        <li>{{fav.nombreInv}}-{{fav.region.toUpperCase()}}</li>
        <button (click)="copiarDatos(fav)">Seleccionar</button>
    </ul>
    <hr>
</div>
<div id="Partidas">
    <h2>Perfil</h2>
    <h3>{{nombreInv}}</h3>
    <h4>Partidas:</h4>
    <ul *ngFor="let match of partidasHistorial">
        <li>{{match}}</li>
        <button>Ver mas</button>
    </ul>
    <hr>
</div>