h1 {
    text-align: center;
    text-decoration: underline;
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda form p {
    text-align: center;
    font-weight: bold;
}

.busqueda input {
    margin: 5px;
}

#Partidas {
    width: 25%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
}

#InvFav {
    width: 70%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}